*
{
    margin:0;
    padding:0;
}

.container
{
    height:100vh;
    width:100%;
    padding-left:30px;
    padding-right: 30px;
    
}

.navbar
{
    width:100%;
    height:85px;
    border-top:3px solid green;
    background-color:#202020;
    display: flex;
    align-items: center;
}

.logo
{
    height:100vh;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.logo img
{
    width:60px;
    height:60px;
    margin-left:10px;
}


.logo span 
{
    color:white;
    font-size: 30px;
   margin-top: 4px;
   margin-left:3px;
}

.search
{
    height:85px;
    width:600px;

    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

.search input
{
    width:500px;
    height:40px;
    outline: none;
    border-radius:10px 0px 0px 10px;
    padding-left:20px;
    font-size: 20px;
    border:1px solid grey;
    
}

#search_box
{
    width:45px;
    height:39px;
    background-color: red;
    margin-top: 2px;
    margin-bottom: 1px;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    cursor: pointer;
}

#search_box:hover 
{
    background-color: black;
}

.tab 
{
    width:100%;
   
    height:85px;
   
}

.tab table
{
    width:100%;
    
    height:85px;
    padding: 20px;
    font-size: 18px;
    color:white;
}

.tab table tr td:hover 
{
    cursor: pointer;
    color: red;
    transition: 1s;
}

.advertise
{
    width:100%;
    height:280px;
    background-color: white;
    display: flex;
}

.img1,.img2,.img3,.img4
{
    width:20%;
    height:260px;
    margin-top: 20px;
    background-color: black;
    border: 1px solid white;
    margin-left: 50px;
    


}
.img1{
background-image:url("../images/img1.jpg");
background-size: cover;
}


.img2{
background-image:url("../images/img2.jpg");
background-size: cover;
}

.img3{
background-image:url("../images/img3.jpg");
background-size: cover;
}

.img4{
background-image:url("../images/img4.jpg");
background-size: cover;
}


.left
{
    width:70%;
    background-color: red;
    margin-top: 50px;
    height: 100vh;
    
}
.right
{
     width:25%;
    background-color:black;
    margin-top: 50px;
    height: 100vh;
}

.content
{
    display: flex;
}

