*
{
    margin:0;
    padding:0;
}

.container
{
    height:100vh;
    width:100%;
    padding-left:30px;
    padding-right: 30px;
    
}

.navbar
{
    width:100%;
    height:80px;
    border-top:3px solid green;
    background-color: black;
    display: flex;
    align-items: center;
}

.logo
{
    margin-left: 20px;
}